---

# As many checks as possible should be enabled. For every disabled check, a
# reason must be given below.
#
# A list of checks can be found at
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
# List of disabled checks:
#
#   android-cloexec-*
#       Requires non portable fixes.
#
#   fuchsia-*
#       Too much strict and sometimes conflicts with modernize checks.
#
#   cert-dcl21-cpp
#       Bad advice in Modern C++ [https://stackoverflow.com/a/16835004/2679626].
#
#   readability-else-after-return
#       Ends up converting else-if chains into plain ifs in case the previous
#       body contains ends in a return. This hurts readability more than it
#       helps. Other than that, the purpose of the check is fair (reduce
#       identation exit early).
#
#   readability-redundant-access-specifiers
#       Redundant access specifiers are used to separate member variables from
#       member functions.
#
#   readability-magic-numbers
#   cppcoreguidelines-avoid-magic-numbers
#       Too aggressive and flags too many literals as magic numbers.
#
#   readability-convert-member-functions-to-static
#       Some member functions are non-static by design.
#
#   readability-braces-around-statements
#   google-readability-braces-around-statements
#       TODO
#
#   google-runtime-references
#       This goes against cppcoreguidelines (F.15).
#
#   google-readability-todo
#       I really like Google TODOs. Unfortunately, I don't think they fit
#       too well outside of their environment (how to specify bug id?).
#       Maybe this can be revisited in the future.
#
#   cppcoreguidelines-pro-bounds-array-to-pointer-decay
#   hicpp-no-array-decay,
#       Would be useful if didn't flag every assert.
#
#   cppcoreguidelines-non-private-member-variables-in-classes
#       Breaks our design. May be revisited in the future.
#

Checks: '
        ,*,
        ,-android-cloexec-*,
        ,-cert-dcl21-cpp,
        ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        ,-cppcoreguidelines-avoid-magic-numbers,
        ,-cppcoreguidelines-pro-bounds-pointer-arithmetic,
        ,-cppcoreguidelines-non-private-member-variables-in-classes,
        ,-cppcoreguidelines-owning-memory,
        ,-cppcoreguidelines-pro-type-const-cast,
        ,-cppcoreguidelines-avoid-c-arrays,
        ,-cppcoreguidelines-pro-bounds-constant-array-index,
        ,-fuchsia-*,
        ,-google-readability-braces-around-statements,
        ,-google-runtime-references,
        ,-google-readability-todo,
        ,-google-readability-function-size,
        ,-hicpp-braces-around-statements,
        ,-hicpp-no-array-decay,
        ,-hicpp-avoid-c-arrays,
        ,-hicpp-function-size,
        ,-llvm-header-guard,
        ,-misc-non-private-member-variables-in-classes,
        ,-modernize-use-trailing-return-type,
        ,-modernize-use-nodiscard,
        ,-modernize-avoid-c-arrays,
        ,-readability-named-parameter,
        ,-readability-braces-around-statements,
        ,-readability-redundant-access-specifiers,
        ,-readability-else-after-return,
        ,-readability-magic-numbers,
        ,-readability-convert-member-functions-to-static,
        ,-readability-implicit-bool-conversion,
        ,-readability-identifier-naming,
        ,-readability-function-size,
        '

WarningsAsErrors: '*'

CheckOptions:    
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ConstantCase
    value:           lower_case

HeaderFilterRegex: '\/include\/gta3sc\/.*|\/lib\/.*|\/src\/.*|\/unittest\/.*'
FormatStyle: file
