[submodule "unittest/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest
[submodule "thirdparty/span-lite"]
	path = thirdparty/span-lite
	url = https://github.com/martinmoene/span-lite
